

.logo{
  position:relative;
  padding-top:20px;
  z-index:2;

}
.navbar-static-top{
  position:fixed;
  width:100%;

}


.nav li a{
  color:#42A5F5;
}

.container-fluid{
  background-color:#ccc;
}



.new a{
  color:red;
}

.container{
  margin-top:100px;
}
.navbar{
  padding:0;
}
#companies:hover{
  opacity:0.7;
}
.modal{

  background-color:rgba(0,0,0,,0.5);
}

.modal-body{
    /*background-color:red;*/
    margin:20% auto;
    padding:20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.17);
}

.closeBtn{
    color:#ccc;
    float:right;
    font-size:30px;
}

.close:hover,.close:focus{
    color:#000;
    text-decoration:none;
    cursor:pointer;
  }
