<nav class='navbar navbar-fixed-top navbar-dark bg-dark'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand' href="{{url_for('HomePage')}}">ACWS</a>
    </div>
    <ul class='nav '>
    <li><a href='#Services'>Services</a></li>
    <li><a href='#Contact'>Contact Us</a></li>
    <li><a href='#About'>About Us</a></li>
    </ul>
    {% if 'workshop' in session %}
    <ul class='nav navbar-right'>
    <li><a href="#">{{session['workshop']}}</a></li>
    <li><a href="{{url_for('workshopLogout')}}">Logout</a></li>
    </ul>
    {% elif 'username' in session %}
    <ul class = 'nav navbar-right'>
      <li><a href="{{url_for('UserProfile')}}">{{session['username']}}</a></li>
      <li><a href="{{url_for('logout')}}">Logout</a></li>
    </ul>
    {% else %}
    <ul class='nav navbar-right'>
    <li><a href="{{url_for('Login')}}"><span class="glyphicon glyphicon-log-in">Login</a></li>
    <li><a href="{{url_for('RegisterSuccess')}}"><span class="glyphicon glyphicon-user">Register</a></li>
    </ul>
    {%endif%}
    </div>

  </nav>


<div style="margin-top:100px;heigth:30px;"class='flash alert-purple'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
     <li><strong>{{ message }}</strong></li>
     {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>
