{% include "header.html" %}
{% extends "main.html" %}
{% block content %}
  <!--<div class="logo">
  <img src="{{url_for('static',filename='rsz_acws.png')}}">
</div>-->






    <h1 id = 'Services' >Services</h1>
    <br><br>
    <div class='ScrollWindow form-check' style="border:1px solid black;width:500px;height:500px;overflow:scroll;">
    <input class='checkbox-primary checkbox-info'  type='checkbox'>Air Filter <br>
    <input type='checkbox'> Oil Filter<br>
    <input type='checkbox'> Engine Oil<br>
    <input type='checkbox'> Coolant<br>
    <input type='checkbox'> Wiper Fluid<br>
    <input type='checkbox'> Battery Water<br>
    <input type='checkbox'> Spark PLugs<br>
    <input type='checkbox'> Fuel Filter<br>
    <input type='checkbox'> Brake Pads<br>
    <input type='checkbox'> Brake Fluid<br>
    <input type='checkbox'> Tyre Rotation<br>
    <input type='checkbox'> Wheel Alignment<br>
    <input type='checkbox'> Wheel Balancing<br>
    </div>
    <br>
    <div>
      <input type="submit" value="Book">
    </div>

    <br>
    <br id='Contact'>
    <br >
    <br>
    <br>
    <h1 >Contact Us</h1>
    <br>
    <br>
    <br>
    <div style="width:50%;float:left; display:inline;">
     <h3>Bhanu Sankhyan</h3>
      Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:     bhanusankhyan@live.com<br>
      Phone No. :  +91-9793109509
    </div>
    <div style="width:50%; display:inline;">
     <h3> Divyank Vijayvergiya </h3>
     Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  divyankvijay@gmail.com<br>
     Phone No.  : +91-8209511057
    </div>
    <br>
    <br>
    <br>
    <div style='width:50%; float:left; display:inline;'>
      <h3>Archit Sharma</h3>
      Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : sharmaarchit4488@gmail.com<br>
      Phone No. : +91-8219745310
    </div>
    <div style="width:50%; display:inline;">
      <h3>Divyam Dhadwal</h3>
      Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : divyamdhadwal@gmai.com<br>
      Phone No. : +91-8171633012
    </div>

    <br>
    <br id='About'>
    <br>
    <br>
    <br>
    <h1 >About Us</h1>
    <br>
    <br>
    <br>
     <h2 style="text-align:center;">Automated Car Workshop System</h2>
     <br>
     <br>
      <h4>Front-end and Back-end of Website is developed by </h4><h3>Bhanu Sankhyan and Divyam Dhadwal</h3>
      <br>
      <br>

      <h4>Android Applications is developed by </h4><h3>Divyank Vijayvergiya</h3>
      <br>
      <br>
      <h4>iOS Application is developed by </h4><h3>Archit Sharma</h3>
      <br>
      <br>
      <h4>This project was developed under guidance of </h4><h3>Mr. Naresh Sharma</h3>
      <br><br>
      <br>
      <br>
      <br>
      <br>

{% endblock %}
