{% include "header.html" %}
{% extends "main.html" %}
{% block content %}
  <!--<div class="logo">
  <img src="{{url_for('static',filename='rsz_acws.png')}}">
</div>-->





    <h1 id = 'Services' >Services</h1>
    <br><br>
    <div>

        <img id ='companies' src="static/maruti_suzuki.jpg" style="width:5%" data-toggle="modal" data-target='#myModal'>
      </div>


    <br>
    <div id ="myModal" class="modal fade" role='dialog'>
      <div class='modal-dialog'>
      <div class="modal-content">
        <div class=modal-header>
        <button type='button' class="close" data-dismiss='modal'>&times;</button>
      </div>
        <div class='modal-body'>
        <form>
        <select id='carModels'>
          <option value='Alto'>Alto</option>
          <option value='Swift'>Swift</option>
          <option value='Dzire'>Dzire</option>
        </select>
        <a href='#' id='process_input'><button type='button' class="btn btn-default"> Submit </button></a>
      </form>
      <br>
      <br>
      <p id='result'>...</p>

      </div>
      </div>
    </div>
    </div>


    <!-- Modal -->


    <br>
    <br id='Contact'>
    <br >
    <br>
    <br>
    <h1 >Contact Us</h1>
    <br>
    <br>
    <br>
    <div style="width:50%;float:left; display:inline;">
     <h3>Bhanu Sankhyan</h3>
      Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:     bhanusankhyan@live.com<br>
      Phone No. :  +91-9793109509
    </div>
    <div style="width:50%; display:inline;">
     <h3> Divyank Vijayvergiya </h3>
     Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  divyankvijay@gmail.com<br>
     Phone No.  : +91-8209511057
    </div>
    <br>
    <br>
    <br>
    <div style='width:50%; float:left; display:inline;'>
      <h3>Archit Sharma</h3>
      Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : sharmaarchit4488@gmail.com<br>
      Phone No. : +91-8219745310
    </div>
    <div style="width:50%; display:inline;">
      <h3>Divyam Dhadwal</h3>
      Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : divyamdhadwal@gmai.com<br>
      Phone No. : +91-8171633012
    </div>

    <br>
    <br id='About'>
    <br>
    <br>
    <br>
    <h1 >About Us</h1>
    <br>
    <br>
    <br>
     <h2 style="text-align:center;">Automated Car Workshop System</h2>
     <br>
     <br>
      <h4>Front-end and Back-end of Website is developed by </h4><h3>Bhanu Sankhyan and Divyam Dhadwal</h3>
      <br>
      <br>

      <h4>Android Applications is developed by </h4><h3>Divyank Vijayvergiya</h3>
      <br>
      <br>
      <h4>iOS Application is developed by </h4><h3>Archit Sharma</h3>
      <br>
      <br>
      <h4>This project was developed under guidance of </h4><h3>Mr. Naresh Sharma</h3>
      <br><br>
      <br>
      <br>
      <br>
      <br>

{% endblock %}
